<div class="container">
    <%= form_for(:session, url: login_path) do |f| %>

      <p class="row col-2">
      <%= f.label :email, "メール" %>
      <%= f.email_field :email %>
      <p>

      <p class="row col-2">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>
      <p>

      <p class="row col-2">
      <%= f.submit "ログイン" %>
      <p>

    <% end %>
</div>